                    /***************************** HOME PAGE *****************************/

                                    /************** HEADER **************/

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.header {
    /*background-color: rosybrown;*/
    width: 100%;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-bottom: 2%;
    /*border-bottom: 2px solid darkgrey;*/
}

.logo {
    /*background-color: darkcyan;*/
    height:100px;
    width: 17%;
    text-align: center;
    float: left;
    margin-left: 2%;
    margin-right: 3%;
    /*border: 2px solid darkgrey;*/
}

img {
    /*height: 99px;
    width: 240px;*/
    height: 100%;
    width: 100%;
    position: relative;
}

.search { /*search bar thingy?*/
    /*background-color: deeppink;*/
    text-align: center;
    height: 100px;
    width: 75.5%;
    float: left;
    /*border: 2px solid darkgrey;*/
    border-bottom: 2px solid darkgrey;
}

 /* (start) CODE FROM W3.CSS */
 .search input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 17px;
    height: 40%;
    width: 70%;
    border: 2px solid darkgrey;
  }
   /* (end) CODE FROM W3.CSS */

  .submit { /*the search icon*/
      float: left;
      margin-top: 2.5%;
      margin-left: 1%;
      background: none;
      border: 0px;
      color: darkgrey;
  }

#page { /*settings and help icons*/
    float: left;
    margin-top: 2.5%;
    margin-left: 3%;
    background: none;
    border: 0px;
    color: darkgrey;
}

                                    /************** BODY **************/
/*body {
    background-color: black;
    width: 1335px;
    height: 600px;
    /*padding-right: 6%;*
    font-family: 'Open Sans', sans-serif;
    position: relative;
}*/

                                            /*** NAVIGATION ***/
.navigation { /*SIDEBAR*/
    /*background-color: crimson;*/
    width: 17%;
    float: left;
    margin-left: 2%;
    margin-right: 2.9%;
    /*border: 2px solid darkgrey;*/
}

.buttonsContainer { /*div container for CREATE/UPLOAD/SHARE*/
    /*background-color: aquamarine;*/
    height: 150px;
    width: 100%;
    margin-bottom: 6%;
}

.mode { /*the CREATE, UPLOAD, SHARE buttons*/
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
    height: 34%;
    width: 100%;
    text-align: center;
    display: block; /* to make the buttons line up vertically*/
    background-image: linear-gradient(rgb(255, 255, 246), rgba(226, 223, 223, 0.747));
    /*background-color: green;*/
    /*border: 1px 2px solid darkgrey;*/
    position: sticky;
    color: gray;
    margin-bottom: 5%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /*font-weight: bold;*/
}

.mode:hover { /* when the create/upload/share buttons are hovered */
    /*background-image: linear-gradient(rgba(255, 255, 246, 0), rgb(20, 19, 19));*/
    /*background-color: black;*/
    /*background-color: darkgreen;*/
    background-color: rgb(177, 252, 1); /*rgb(154, 194, 62)*/
    /*color: beige;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#button { /* the button icons */
    margin-top: 2%;
    margin-right: 15%;
    background: none;
    border: 0px;
    color: gray;
}

.others { /*the links underneath the buttons*/ 
    /*background-color: gold;*/
    /*border: 2px solid gray;*/
    height: 295px;
    width: 100%;
    padding-top: 10%;
}

.random { /* the div with 'storage' */
    /*background-color: darkgreen;*/
    /*border: 2px solid gray;*/
    height: 80px;
    width: 100%;
    padding-left: 25%;
    padding-top: 10%;
}

#text {
    margin-top: 0px;
    float: left;
}

#storage { /* the heading storage */
    margin-right: 8%;
    background: none;
    border: 0px;
    color: gray;
    /*background-color: aqua;*/
    float: left;
}

.links {
    display: block;
    color: gray;
    text-decoration: none;
    padding: 4%;
    /*background-color: darkgrey;*/
    /*border: 2px solid darkgrey;*/
    text-align: center;
    font-size: larger;
}

.links:hover {
    background-color: rgb(175, 240, 90);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#Projects, #Files {
    background-color: rgb(210, 236, 176);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


                                            /*** FILES ***/
.files { /*the area under the search thingy*/
    /*background-color: blueviolet;*/
    width: 75.6%;
    float: left;
    /*border: 2px solid darkgrey;*/
    /*border-left: 2px solid darkgrey;*/
    /*padding-top: 3%;*/
    position: relative;
}
 
#title {
    margin-top: 0px;
    margin-left: 3.75%;
}

.blocks { /*MAKE THIS RESPONSIVE IF DESKTOP WINDOW IS RESIZED*/
    border: 2px solid darkgrey;
    height: 150px; /* aka 25vmin */
    width: 215px; /*aka 28vmin*/
    float: left;
    margin-left: 3.75%;
    margin-bottom: 3%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* RESIZE TABLE USING MEDIA QUERIES */
table {
    /*border: 1px solid black;*/
    height: 30%;
    width: 92.5%;
    margin-left: 3.75%;
    text-align: left;
    margin-bottom: 5%;
    /*background-color: deepskyblue;*/
    position: sticky;
}

#name {
    width: 50%;
}
th, td { 
    width:150px; 
    /*border:1px solid black;*/
    padding-bottom:3%; 
} 

#tableIcons {
    margin-right: 10%;
    color: gray;
    background: none;
}

                                            /*** PROJECTS ***/

#p {
    margin-top: 0px;
    margin-left: 3.75%;
    margin-bottom: 3%;
}

#One {
    margin-top: 0px;
    margin-left: 3.75%;
    margin-bottom: 3%;
    float: left;
}

.breadcrumb {
    margin-top:0px;
    font-size: small;
}

.item {
    display: inline-block;
}

.crumb {
    text-decoration: none;
    color: grey;
}

.item:not(:last-of-type)::after {
    content: ' > ';
}

.item:last-child {
    text-decoration: underline;
}

.bheader {
    width: 75.6%;
    height: 20px;
    float: left;
    color: gray;
}
.groupwork { /*the area under the search thingy*/
    /*background-color: blueviolet;*/
    height: 100%;
    width: 75.6%;
    float: left;
    /*border: 2px solid darkgrey;*/
    /*border-left: 2px solid darkgrey;*/
    /*padding-top: 3%;*/
    position: relative;
}

 .projectBlock {
    margin-left: 5%;
    /*border: 2px solid darkgrey;*/
    height: 200px;
    width: 455px;
    margin-bottom: 2%;
    float: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    display:block;
    background: none;
}

.projectBlock:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,12), 0 1px 2px rgba(0,0,0,24);
}

.inside {
    height: fit-content;
    width: fit-content;
    display: flex;
}

#block1 {
    background-color: rgb(186, 231, 144);
    height: 200px;
    width: 455px;
}

#block2 {
    background-color: rgb(148, 199, 101); /*rgb(183, 240, 130);*/
    height: 200px;
    width: 455px;
}

#block3 {
    background-color: rgb(169, 218, 124);
    height: 200px;
    width: 455px;
}

#block4 {
    background-color: rgb(197, 221, 173);
    height: 200px;
    width: 455px;
}

.projectName {
    width:455px;
    height: 50px;
    background-color: aliceblue;
    opacity: 80%;
    margin-top: 33%;
}

.projects {
    margin-left: 4%;
    width: 120px;
}

.projects, .members {
    display: inline-block;
}

.projectHead {
    width: 100%;
    height: 20%;
    float: left;
    color: rgb(186, 231, 144);
}

.heading {
    margin-top: 1%;
    margin-left: 3%;
    float: left;
}


                                            /*** MEDIA QUERIES  ***/

@media screen and (max-width: 1120px) { 
    /*table {
        height: 25vmin;
        width: 70vmin;
    }*/

    th, td {
        width: 100px;
    }

    .body {
        width: 736px;

    }
}

@media screen and (max-width: 1300px) {
    .body {
        width: 900px;
    }
}

@media screen and (max-width: 1200px) {

    .body {
        width: 800px;
    }
}

@media screen and (max-width: 1100px) {

    .body {
        width: 700px;
    }
}

@media screen and (max-width: 1000px) {

    .blocks {
        border: 2px solid darkgrey;
        height: 100px; /* aka 25vmin */
        width: 140px; /*aka 28vmin*/
        float: left;
        margin-left: 3.75%;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 970px) {
    .blocks { /*MAKE THIS RESPONSIVE IF DESKTOP WINDOW IS RESIZED*/
        border: 2px solid darkgrey;
        height: 100px; /* aka 25vmin */
        width: 140px; /*aka 28vmin*/
        float: left;
        margin-left: 3.75%;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 960px) {
    .blocks { /*MAKE THIS RESPONSIVE IF DESKTOP WINDOW IS RESIZED*/
        border: 2px solid darkgrey;
        height: 100px; /* aka 25vmin */
        width: 140px; /*aka 28vmin*/
        float: left;
        margin-left: 3.75%;
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 720px) {
    .mode { /*the buttons*/
        font-size: small;
        font-family: 'Open Sans', sans-serif;
        height: 34%;
        width: 100%;
        text-align: center;
        display: block; /* to make the buttons line up vertically*/
        background-image: linear-gradient(rgb(255, 255, 246), rgba(226, 223, 223, 0.747));
        border: 1px 2px solid darkgrey;
        position: sticky;
        /*font-weight: bold;*/
    }
}






                /***************************** END OF HOME PAGE *****************************/
